@media (min-width: 375px) and (max-width: 767px) {

    .header__logo {
        margin-left: 24px;
    }

    ._heading-first {
        font-style: normal;
        font-weight: 700;
        font-size: 41px;
        line-height: 49px;
        text-align: center;
        text-transform: capitalize;
    } 

    .welcome__heading {
        margin-top: 0px;
    }

    .welcome__heading > span {
        text-transform: none;
        font-size: 37px;
        font-weight: 600;
    }

    .welcome {
        padding-top: 16px;
        padding-bottom: 80px;
    }

    .welcome__paragraph {
        margin-top: 16px;
        margin-bottom: 24px;
        width: 80%;
        font-size: 16px;
        line-height: 23px;
        color: black;
        opacity: 1;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .welcome__download-btn {
        margin-bottom: 36px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .__appstore-rate {
        margin-bottom: 20px;
        text-align: center;
    }

    .__rate-star {
        text-align: center;
        margin-bottom: 32px;
    }
    .stars {
        justify-content: center;
    }

    .welcome__banner {
        margin-left: auto;
        margin-right: auto;
        display: block;
        /* width: 295.46px; */
        max-width: 82%;
    }

    ._heading-third {
        font-style: normal;
        font-weight: 600;
        font-size: 28px;
        line-height: 36px;
        text-align: center;
    }

    .indicators__paragraph {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 23px;
        text-align: center;
        margin-bottom: 0px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .indicators__item-wrapper {
        margin-top: 40px;
    }

    .indicators__mt {
        margin-top: 24px;
    }

    .indicators__banner {
        display: block;
        margin-left: auto;
        margin-right: auto;
        /* width: 298.86px; */
        max-width: 82%;
        margin-bottom: 60px;
    }

    .indicators__download-btn {
        display: block;
        margin-left: auto;
        margin-right: auto; 
    }

    .indicators {
        padding-bottom: 80px;
    }

    .features {
        padding-bottom: 28px;
    }

    .features__heading {
        margin-bottom: 24px;
    }

    .features__items-wrapper {
        display: none;
    }

    .features__paragraph {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 23px;
        text-align: center;
        width: 80%;
        margin-left: auto;
        margin-right: auto; 
        margin-bottom: 24px;
    }

    .features__main-paragraph {
        display: block;
        margin-bottom: 36px;
    }

    .features__heading-second {
        margin-top: 32px;
        margin-bottom: 24px;
    }

    .features__download-btn {
        display: none !important;
    }

    .features__appstore-rec {
        display: block;
        width: 100%;
        justify-content: space-between;
        margin-left: auto;
        margin-right: auto;
    }

    .features__appstore-rec > img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .reviews {
        margin-top: 10px;
    }

    .download {
        display: none;
    }

    .footer_copy {
        font-size: 12px;
        line-height: 18px;
        width: 75%;
        margin-left: auto;
        margin-right: 10px;
    }

    .footer_paragraph {
        font-size: 12px;
        line-height: 18px; 
        margin-top: 16px;
    }

    .footer__logo {
        width: 70px;
        height: 34px;
        margin-left: 10px;
    }

    .footer {
        padding-top: 20px;
        padding-bottom: 24px;
    }

    .footer__policy-terms-wrapper {
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 15px;
    }

    .features__img-wrapper {
        display: none;
    }

    .fetures__iphones-img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .welcome__banner-tablet {
        display: none;
      }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .header__logo {
        margin-left: 28px;
    }

    .welcome__heading {
        margin-top: 0px;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }

    .welcome {
        padding-top: 32px;
        padding-bottom: 111px;
    }

    ._heading-first {
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        line-height: 56px;
        text-align: center;
        color: #000000;
    }

    .welcome__paragraph {
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        width: 75%;
        margin-left: auto;
        margin-right: auto;
    }

    .welcome__paragraph {
        margin-top: 16px;
    }

    .welcome__download-btn {
        margin-bottom: 24px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    .__appstore-rate {
        margin-bottom: 14px;
        text-align: center;
    }

    .__rate-star {
        text-align: center;
        margin-bottom: 24px;
    }

    .stars {
        justify-content: center;
    }

    .welcome__banner {
        display: none;
    }

    .welcome__banner-tablet {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    ._heading-third {
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 40px;

    }

    .indicators__heading {
        margin-bottom: 16px;
    }

    .indicators__paragraph {
        margin-bottom: 0px;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: #000000;
        opacity: 0.7;
    }

    .indicators__item-heading {
        margin-top: 24px;
    }

    .indicators__mt {
        margin-top: 29px;
    }

    .indicators__banner {
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-bottom: 40px;
    }

    .indicators__download-btn {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .indicators {
        padding-bottom: 80px;
    }

    .features__items-wrapper {
        width: 88%;
    }

    .features__heading {
        margin-bottom: 32px;
    }

    .features__img-wrapper {
        display: none;
    }

    .fetures__iphones-img-tablet {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 49px;
        margin-bottom: 40px;
    }

    .features__heading-second {
        margin-top: 80px;
        margin-bottom: 16px;
    }

    .features__paragraph {
        margin-bottom: 24px;
    }

    .features__appstore-rec {
        width: 47%;
    }

    .__rate-star-tablet {
        text-align: left;
    }

    .__appstore-rate-tablet {
        text-align: left;
    }

    .reviews {
        margin-top: 10px;
    }

    ._heading-second {
        font-weight: 600;
        font-size: 48px;
        line-height: 58px;
        text-align: center;
        text-transform: capitalize;
    }

    .download__heading {
        width: 81%;
    }

    .download {
        padding-bottom: 80px;
    }

    .footer__logo {
        margin-left: 20px;
    }

    .footer_copy {
        margin-right: 20px;
        font-size: 14px;
        line-height: 17px;
    }

    .footer_paragraph {
        margin-top: 12px;
        font-size: 14px;
        line-height: 17px;
    }

    .footer__policy-terms-wrapper {
        font-size: 14px;
        line-height: 17px;
    }

}
