/*FONTS============================================================*/
@font-face {
  font-family: "ProximaNova";
  src: url("/css/fonts/ProximaNova-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "ProximaNova";
  src: url("/css/fonts/ProximaNova-Light.ttf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "ProximaNova";
  src: url("/css/fonts/ProximaNova-Black.ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "ProximaNova";
  src: url("/css/fonts/ProximaNova-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "ProximaNova";
  src: url("/css/fonts/ProximaNova-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}

/*=================================================================*/

/*COMMON STYLES====================================================*/
a.active.focus,
a.active:focus,
a.focus,
a:active.focus,
a:active:focus,
a:focus,
button.active.focus,
button.active:focus,
button.focus,
button:active.focus,
button:active:focus,
button:focus,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
  outline: 0 !important;
  outline-color: transparent !important;
  outline-width: 0 !important;
  outline-style: none !important;
  -webkit-box-shadow: 0 0 0 0 rgba(0, 123, 255, 0) !important;
  -moz-box-shadow: 0 0 0 0 rgba(0, 123, 255, 0) !important;
  box-shadow: 0 0 0 0 rgba(0, 123, 255, 0) !important;
}

body {
  font-family: "ProximaNova", sans-serif;
}

._heading-first {
  font-style: normal;
  font-weight: 600;
  font-size: 58px;
  line-height: 65px;
}

._heading-second {
  font-style: normal;
  font-weight: 600;
  font-size: 56px;
  line-height: 80px;
  text-align: center;
  text-transform: capitalize;
}

._heading-third {
  font-style: normal;
  font-weight: 600;
  font-size: 42px;
  line-height: 52px;
}

._download-btn {
  width: 270px;
  height: 58px;
  background: #007AFF;
  border-radius: 12px;
  color: #FFFFFF;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 44px;
}

._download-btn:hover {

}

._download-btn:active {

}

/*===================================================================*/
.header {
  padding-top: 24px;
  padding-bottom: 24px;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.07);
}

.welcome {
  padding-top: 63px;
  padding-bottom: 251px;
}

.welcome__heading {
  margin-top: 159px;
}

.welcome__paragraph {
  margin-top: 24px;
  margin-bottom: 32px;  
  width: 90%;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  opacity: 0.7;
}

.welcome__download-btn {
  margin-bottom: 40px;
}

.__appstore-rate {
  margin-bottom: 16px;
}

.__appstore-rate::after {
  content: "4.9";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 24px;
  color: #000000;
  opacity: 0.8;
  margin-left: 5px;
  vertical-align: middle;
}

.stars {
  display: flex;
}

.stars > img {
  margin-right: 4px;
}

.welcome__banner {
  margin-left: auto;
  margin-right: 10px;
  display: block;
}

.reviews {
  margin-top: 4px;
}

.indicators {
  padding-bottom: 40px;
}

.indicators__heading {
  text-align: center;
  color: #1E2232;
  margin-bottom: 24px;
}

.indicators__paragraph {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  color: #000000;
  text-align: center;
  margin-bottom: 70px;
}

/* .indicators__item-wrapper {
  position: relative;
} */

.indicators__item-heading {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  text-align: center;
  color: #000000;
}

.indicators__item-heading::before {
  content: url('/img/red-dot.svg');
margin-right: 8px;
}

.indicators__item-paragraph {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: #000000;
  margin-top: 12px;
}

.indicators__mt {
  margin-top: 80px;
}

.features {
  padding-top: 40px;
  padding-bottom: 80px;
  background: #F9FAFF;
}

.features__heading {
  text-align: center;
  margin-bottom: 70px;
}

.features__main-paragraph {
  display: none;
}

.features__items-wrapper {
  display: flex;
  width: 70%;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

.features__item > p {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: #000000;
}

.features__item > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.features__img-wrapper {
  display: flex;
  width: 70%;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  margin-top: 68px;
  margin-bottom: 70px;
}

.features__heading-second {
  text-align: center;
  margin-bottom: 24px;
  margin-top: 120px;
}

.features__paragraph {
  text-align: center;
  margin-bottom: 62px;
}

.features__appstore-rec {
  display: flex;
  width: 30%;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

.features__appstore-rate-wrapper {
  padding-top: 17px;
}

.download {
  padding-top: 80px;
  padding-bottom: 120px;
}

.download__heading {
  text-align: center;
  margin-bottom: 60px;
  color: #18191D;
  width: 61%;
  margin-left: auto;
  margin-right: auto;
}

.footer {
  padding-top: 20px;
  padding-bottom: 12px;
  background: #10121B;
}

.footer__policy-terms-wrapper {
  margin-top: 8px;
  color: #1A77EA;
  text-align: center;
}

.footer_paragraph {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  margin-top: 42px;
  color: #FFFFFF;
}

.footer_copy {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: right;
  color: #FFFFFF;
}

.fetures__iphones-img {
  display: none;
}

.fetures__iphones-img-tablet {
  display: none;
}

.welcome__banner-tablet {
  display: none;
}

.policy-terms {
  padding-bottom: 60px;
  padding-left: 15px;
  padding-right: 15px;

}

.policy-terms h2 {
  margin-top: 40px;
    margin-bottom: 30px;
    font-weight: 600;
}

.policy-terms h3 {
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 400;
}


